.ButtonContainer {
    padding: 5px;
}

.CustomButton {
    font-size: 20px;
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 10px;
    border: 1px solid #EAEAEA;
    background: #0016DF;
    box-shadow: 0px 10px 40px 0px rgba(174, 174, 174, 0.20);
    padding: 15px;
}

.ButtonName {
    color: #FFF;
    font-size: 15px;
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}